{% extends 'base.html.twig' %}

{% block title %}Discord{% endblock %}

{% block body %}
    <p>Connexion en cours...</p>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('check') }}
{% endblock %}